/* ベース */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: filter 0.2s;
}

.button:hover:not(:disabled) {
  filter: brightness(0.85);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* variant */
.primary {
  background: rgba(56, 56, 56, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(56, 56, 56, 1);
  border-radius: 8px;
  font-family: "Geist", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.secondary {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 8px;
  font-family: "Geist", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.success {
  background: rgba(24, 160, 251, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.015em;
  line-height: 1;
}

.danger {
  background: rgba(255, 65, 54, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.015em;
  line-height: 1;
}

/* size */
.medium {
  width: 120px;
  height: 40px;
}

.large {
  width: 480px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.015em;
}
