.textBox {
  width: 720px;
  height: 240px;
  border: none;
  background: #e3e3e3;
  border-radius: 41px;
  padding: 24px;
  letter-spacing: 0.05em;
  line-height: 1.8;
}

.textBox:focus {
  outline: 2px solid #888888;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.textBox:hover {
  background-color: #ededed;
  cursor: pointer;
}

.errorMessage {
  color: #b91c1c;
}
