.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 46px 60px;
  justify-content: center;
}
